* {
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 1em/1.2;
    font-family: Georgia, serif;
}

body {

    background: rgb(238, 238, 238);
}

.card {
    position: relative;
    top: 70%;
    left: 50%;
}

.card .image {
    position: absolute;
    overflow: hidden;
    border-radius: 0.3em;
    box-shadow: 0 0 1rem 0.1em rgba(0,0,0,0.2);
}

.card .details {
    position: absolute;
    top: 500px;
    background: rgb(255, 255, 255);
}

.details button {
    margin: 1em 2em;
    float: right;
}

.details h2 {
    padding: 1em;
}

.details p {
    padding: 1em;
}

button {
    cursor: pointer;
    color: white;
    padding: 5px 10px;
    border-style: none;
    background-color: rgb(0, 153, 0);
}