table, tr, td {
    border: 1px rgb(221, 221, 221) solid;
}
table th {
    text-align: left;
    border-width: 1px;
}
table tr:nth-child(odd) td {
    background: rgb(241, 241, 241);
}
table tr:nth-child(odd) td{
    background: rgb(241, 241, 241);
}
table tbody tr:hover td{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}