html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

section {
	width: 250px;
	height: 250px;
	border: dashed green;
	margin: 0 auto;
	margin-top: 2em;
	text-align: center;
}

p { 
    width: 100%;
    border: solid blue;
    padding: 20px;
}