body {
    background: #EEE;
}
body .button {
    cursor: pointer;
    outline: none;
}
button, a {
    border: 2px rgb(51, 51, 51) solid;
    border-radius: 10px;
}
button {
    background-color: #EEE;
}
.button.fill.hover {
    color: rgb(251, 251, 251);
}
body .hover {
    color: rgb(51, 51, 51);
}
button.fill.hover:hover {
    background-color: rgb(0, 102, 0);
    border: 2px rgb(0, 102, 0) solid;

}
button.empty-hover:hover{
    background-color: rgb(51, 51, 51);
    color: rgb(0, 102, 0);
    border: 2px rgb(0, 102, 0) solid;
}