@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

body {
    margin: 0 2rem;
}

html, body, button, input, select, option {
    font: 16px/1.5 'PT Sans', sans-serif;
    
}

.main-site {
    display: flex;
    flex-flow: row wrap;
}

.site-header {
    flex: 0 0 100%;
    height: auto;
    background: linear-gradient(to bottom, rgba(82,82,82,1) 0%, rgba(97,97,97,0) 100%), url('../Requirements-and-Resources/image/computer-main.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    text-shadow: 1px 1px 2px black;
    display: flex;
    flex-direction: column;
}

.header-menu {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.fa-shopping-cart {
    font-size: 26px;
}

.header-main {
    flex: 0 0 100%;
    align-self: center;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    font-weight: bold;
}

h1 {
    font-size: 50px;
    margin-top: 4.5rem;
    margin-bottom: 1.5rem;
}

.header-text {
    font-size: 20px;
    text-align: center;
    width: 60%;
}

.buy-now {
    border: 3px solid #00D08E;
    border-radius: 3px;
    background: #00D08E;
    color: white;
    font-size: 17px;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    margin: 3.5rem 0;
}

.buy-now:hover {
    cursor: pointer;
    background: none;
    border: 3px solid white;
}

.header-main:last-child {
    margin-bottom: 5rem;
}

.fa-arrow-circle-right {
    font-size: 23px;
    margin-left: 0.5rem;
}

.main-photo-container {
    flex: 0 0 50%;
}

.main-photo {
    width: 100%;
    height: 100%;
}

.main-description {
    flex: 0 0 50%;
    display: flex;
    flex-flow: column wrap;
    padding: 2rem 0 0 3rem;
}

ul {
    list-style: none;
}

.fa-check-circle {
    font-size: 20px;
    color: #00D08E;
    margin-right: 1rem;
}

h2 {
    font-weight: bold;
    font-size: 34px;
}

.description {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 1rem;
}

.descriptioin-list > li {
    margin: 1rem 0;
}

.secondary-site {
    display: flex;
    flex-flow: row wrap; 
}

.hustlecase-purpose {
    flex: 0 0 50%;
}

.purpose-list {
    display: flex;
    flex-flow: row wrap; 
    justify-content: space-between;
}

.purpose-list > li {
    flex: 0 0 20%;
    margin: 0 1.5rem;
    display: flex;
    flex-flow: column wrap;
}

.purpose-image {
    align-self: center;
    width: 100%;
    height: auto;
}

.hustlecase-perfect {
    text-align: center;
    margin: 0.5rem 0;
}

.purpose-list li p {
    text-align: center;
    color: #00D08E;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0.5rem;
}

.secondary-image {
    flex: 0 0 50%;
}

.secondary-image > img {
    width: 100%;
    height: 100%;
}

.site-footer {
    flex: 0 0 100%;
    display: flex;
    background: #B2F1DD;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.site-footer > h2 {
    flex: 0 0 100%;
    text-align: center;
    margin: 1rem 0;
}

.footer-info {
    flex: 0 0 30%;
    margin: 2rem 1rem;
    text-align: center;
}

.footer-last-p {
    flex: 0 0 100%;
    text-align: center;
}

.footer-last-p {
    margin: 2rem 0;
}

.bold {
    font-weight: bold;
}