html {
    font: 16px/1.5 Helvetica, sans-serif;
}

body, form, input, textarea, option, select, button {
    font: inherit;
}

p, ul, ol {
    padding-bottom: 1.5em;
}

ul, ol {
    padding-left: 2.5em;
}

p.site-title {
    padding-top: 1em;
    padding-bottom: 0.5em;
    font-size: 45px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
}